.countryList {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.countryRowContainer {
  margin: 1rem 0;
}

@media (max-width: 424px) {
  .countryList {
    grid-template-columns: 1fr 1fr;
  }
}