.App {
  min-width: calc(100vw - 2rem);
}

.fixture {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 424px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}