.appbar {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin: 0 0 2rem 0;
}

.iconMenu {
  height: 2rem;
  width: 2rem;
}

.labelMenu {
  font-size: 1.3rem;
}

.mobile {
  display: none;
  visibility: hidden;
}

.desktop {
  visibility: visible;
  display: block;
}

@media (max-width: 424px) {
  .App {
    margin-left: 0.5rem;
  }

  .labelMenu {
    font-size: 1rem;
  }

  .mobile {
    visibility: visible;
    display: block;
  }

  .desktop {
    display: none;
    visibility: hidden;
  }
}